{
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 3
            }
        ],
        [
            "@nutui/babel-plugin-separate-import",
            {
                "style": "css"
            }
        ]
    ]
}